* {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Patua One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
  }
  main {
    font-family: 'Patua One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 100px;
  }

  header {
    background-color: #204495;
    /* background-image: url(unnamed.jpg); */
    background-repeat: no-repeat;  
    background-position: 35% 10%;
    height: 100px;
    width: 100%;
    font-weight: bold;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
    letter-spacing: 1px;
    font-size: 15px;
  }
  header h1 {
    padding-top: 30px;
    padding-left: 10px;
    float: left;
    color: white;
    margin-left: 20px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
  }
  header ul {
    float: right;
    padding-top: 60px;
    padding-left: 10px;
    /* padding-right: 20px; */
  }
  header li {
    list-style: none;
    margin-right: 40px;
    font-family: 'Patua One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .header-list {
    display: flex;
    align-items: center;
    /* margin-left: 600px; */
  }
  main a {
    color: white; 
    text-decoration: none; 
    letter-spacing: 1px;
    font-size: 15px;
  }
  main ul {
    position: fixed;
    top: 0px;
    z-index: 9;
    background-color: #204495;
    top: 50px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
  }
  main li {
    /* border-bottom: dashed 2px orange; */
    list-style: none;
    margin-bottom: 40px;
    font-family: 'Patua One', cursive;
    font-family: 'Noto Sans JP', sans-serif;
  }
  footer {
    color: white;
    height: 30px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main {
    background-color: white;
  }
  .flash {
    padding: 10px 0;
    color: white;
    background: orange;
    text-align: center;
    position: relative;
    /* top: 64px; */
    z-index: 9;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 20px;
    font-family: 'Patua One', cursive;
    position: fixed;
    visibility: hidden;
    animation-name: s;
    animation-duration: 4s;
  }
  @keyframes s{
    0% {visibility: hidden; opacity: 0;}
    50% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
  }
  .link-to {
    color: orange;
  }
  .link-to-content {
    color: white;
  }